---
import Layout from '../layouts/Layout.astro';
import ContenedorSeccion from '../components/ContenedorSeccion.astro'
import Etiqueta from '../components/Etiqueta.astro';
import LinkedInIcon from '../icons/Linkedin.astro';
import GithubIcons from '../icons/Github.astro';
import MailIcon from '../icons/Mail.astro';
import TrabajoIcon from '../icons/Trabajo.astro'
import SocialMedia from '../components/SocialMedia.astro';
import Experiencia from '../components/Experiencia.astro';
---

<Layout title="Portafolio Gustavo Pezzini | Desarrollador y Programador Web"
description='Portafolio de Gustavo Pezzini, desarrollador y programador web especializado en crear interfaces modernas y dinámicas con tecnologías como HTML, CSS, SCSS, JavaScript, Bootstrap, Astro, Python y Django. Descubre mis proyectos y habilidades.'>
	<main>

		<ContenedorSeccion class='py-60 pb-40'>
			<h1 class='text-white text-4xl font-bold flex flex-row gap-x-4 pb-8'>
				Hola, soy Gustavo Pezzini <a 
					href="https://www.linkedin.com/in/gustavopezzini/"
					target='_blank'
					rel='noopener'
					class='flex justify-center items-center'
					>
					<Etiqueta>Disponible para trabajar</Etiqueta>
				</a>
			</h1>
			<h2 class='font-rampart-one text-green-500 text-8xl pb-12 text-wrap'>Desarrollador Front-End</h2>
			<span class='text-white/85 text-xl text-pretty'>Especializado en la creación de aplicaciones web funcionales y atractivas. Con un enfoque en la <span class='text-amber-200 font-semibold'>resolución de problemas</span> y un compromiso con el <span class='text-emerald-300 font-semibold'>aprendizaje continuo</span>, siempre estoy en una constante busqueda de <span class='text-teal-300 font-semibold'>mejorar mis habilidades</span> y ofrecer soluciones innovadoras que mejoren las experiencias de los usuarios.</span>

			<nav class='flex gap-x-5 mt-8 text-sm'>
				<SocialMedia href='https://github.com/roydev-dw'>
					<GithubIcons class='size-6' />
					GitHhub
				</SocialMedia>
				<SocialMedia href='https://www.linkedin.com/in/gustavopezzini/'>
					<LinkedInIcon class='size-6' />
					Linkedin
				</SocialMedia>
				<SocialMedia href='mailto:gapcode@roydevs.com'>
					<MailIcon class='size-6' />
					gapcode@roydevs.com
				</SocialMedia>
			</nav>
		</ContenedorSeccion>

		<ContenedorSeccion id='experiencia'>
			<h1 class='text-2xl font-semibold pb-8 flex items-center gap-3'><TrabajoIcon class='size-8' />Experiencia Laboral</h1>
			<Experiencia />
		</ContenedorSeccion>
	</main>


</Layout>