<span class="bg-white/20 text-white text-sm font-normal me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-green-400 border border-white/30 hover:scale-105 hover:bg-white/30 transition duration-300">
  <slot />
</span>
