<header class='flex justify-between items-center text-lg mx-auto py-8 w-[1200px]'>
  <img class='rounded-full w-12 h-12' src="/images/imagen-perfil-cuadrada.webp" alt="gustavo pezzini foto">
  <nav class='flex flex-row gap-x-10'>
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contactame">Contáctame</a>
  </nav>
</header>