---
import '@fontsource-variable/montserrat';
import '@fontsource/rampart-one';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Montserrat Variable', sans-serif;
		scroll-behavior: smooth;
	}
	
	body {
		display: flex;
		flex-direction: column;
		background-image: radial-gradient(circle at top center, #2b003f 0%, #140022 15%, #14001d 35%, #000000 80%);
		height: 100%;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	
</style>
